*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* ------------------------- variabili globali ------------------------- */
:root{
    --colore-btn:crimson;
    --colore-btn-hover:rgb(246, 65, 101);
    --colore-cerca-titolo:white;
    --colore-voce-menu-hover:#d8d8d8;
    --colore-bordo-card:black;
    --colore-dettagli-card:white;
    --colore-btn-azione-hover:rgb(246, 65, 101);
    --colore-btn-azione:crimson;
}
/* ------------------------- stili generici ------------------------- */
html,body{
    max-width: 1200px;
    margin:auto;
    background-color: darksalmon;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 2.4em;
    text-align: center;
    margin:0.6em 0;
}

h2{
    font-size: 1.9em;
    text-align: center;
	  font-weight: bold;
    margin:0.5em 0;
}

h3{
    margin:0.9em 0
}

hr{
    border:none;
    margin:2em auto;
    width: 70%;
}

.btn{
    color: white;
    background-color: var(--colore-btn);
    padding:0.7em 1.5em;
    display: block; 
    transition: ease-in-out 0.2s;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    background-color: var(--colore-btn-hover);
    border: none;
    border-radius: 5px;
}

input[class="btn btnAzione"]{
    background-color: var(--colore-btn-azione);
    color: white;
    border:none;
}

input[class="btn btnAzione"]:hover{
    background-color: var(--colore-btn-azione-hover);
    color: white;
    border: none; 
}

.grassetto{
    font-weight: bold;
}

.centrale{
    margin: 1em auto;
    width: 20%;
}

ul{
    text-align: center;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

fieldset{
    text-align: center;
}

/* intestazione */
header{
    width: 100%;
    background-color: floralwhite;
    display: flex;
    flex-flow: row nowrap;
    padding: 1em 2em;
}

#logo{
    font-size: 3.7em;
    margin:0;
    white-space: nowrap;
    color: black;
}

#ricerca{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right:3em;
    margin-left:5em;
}

#input_ricerca{
    width: 100%;
    line-height: 2em;
    height: 1.7em;
    font-size: 1.3em;
    background-color: var(--colore-cerca-titolo) ;
    max-width: 21em;
    border: 2px solid;
    border-color: crimson;
}

#submit_ricerca{
    padding: 0 0.6em;
    margin-left: 0.7em;
    height: 50%;
    font-size: 1.1em;
    background-color: var(--colore-btn-azione);
    color:white;
    border: 2px solid;
    border-color: crimson;
}

#account{
    display: flex;
    align-items: center;
}

#account a{
    margin-right:1em;
    font-size: 1.3em;
}

#menuHam{
    display: none;
}

#breadcrumb{
    width: 100%;
    font-size: 1.2em;
    padding:0.5em 2.2em;
    margin-top:0.4em;
    background-color: floralwhite;
}

.aiuti{
    position:absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
}

/* messaggi di errore */

.error_box{
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    color: #cc0033;
    margin-bottom: 1em;
}

.success_box{
    background-color:#e9ffd9;
    border:1px solid #a6ca8a;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
}

/* ------------------------- menu ------------------------- */
#impaginazione{
    display: flex;
    margin-top: 0.6em;
    position: relative;
}

#menuPrincipale #attivo{
    background-color: lightblue;
    color:black;
    padding: 1em 0;
}

#menuPrincipale{
    background-color: floralwhite;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 0.6em;
    height: fit-content;
    width: 20%;
}

#menuPrincipale ul{
    margin: 1em 0;
}

#menuPrincipale li{
    display: block;
}

#menuPrincipale li:hover{
    background-color: var(--colore-voce-menu-hover);
}

#menuPrincipale a{
    display:block;
    padding: 1em 0;
}

/* ------------------------- contenuto ------------------------- */

#contenuto{
    width: 80%;
    background-color: floralwhite;
    padding:0.6em; 
    position:relative;
}

/* ------------------------- card ------------------------- */
.listaCards{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    margin-top: 1em;
}

.card{
    width: calc(20% - 0.6em);
    margin: 0.6em 0.3em 0 0.3em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: var(--colore-dettagli-card);
    font-size: 1.1em;
    border:1px solid var(--colore-bordo-card);
    display: flex;
    flex-direction: column;
}

.card dt:not(.posizione){
    height: 70%;
    margin-bottom: 0.2em;
    overflow: hidden;
}

.copertina{
    height:100%;
}

.copertina input[type="image"]{ 
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.3s;
}

.copertina input[type="image"]:hover{
    filter:brightness(75%);
}

.dettagli{
    padding: 0.5em;
    padding-bottom: 0.2em;
    height: 30%;
}

.titolo{  
    overflow: hidden;
    height: 40%;
    font-weight: bold;
}

.titolo input[type="submit"]{
    text-align: left;
    white-space: nowrap;
    border:none;
    background-color: transparent;
    font-size: 1.2em;
    color: crimson;
    font-weight: bold;
}

.titolo input[type="submit"]:hover{
    color:black;
    cursor: pointer;
}

.genere{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    height: 30%;
}

.valutazionePrezzo{
    display: flex;
    align-items: center;
    height: 30%;
}

.valutazione{
    flex: 1 1 0;
}

.stella{
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.3em;
}

.vuota{
    background: url(../img/img_componenti/stella_vuota.png) no-repeat;
    background-size: cover;
}

/* -------------------------------------------------- */

#menuProposte{
    margin:1em 0;
    text-align: center;
}

#menuProposte li{
    margin:0 1em;
}

.posizione{
    font-size: 1.5em;
    display: block;
    text-align: center;
    font-weight: bold;
    color: crimson;
}

/* ------------------------- pagina film ------------------------- */
#immagineFilm{
    display: flex;
    flex-direction: row;
    margin:1em 2em 2em 2em;
    flex: 1 1 0;
    width: 200px;
    height: 288px;
}

#infoFilm{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#votoCopertina{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#mediaRecensioni{
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
    width: 100%;
}
#valutazione{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#valutazione .stella,#valutazione .vuota{
    height: 1.5em;
    width: 1.5em;
    margin:0 0.3em;
}
#infoPrincipali{margin-top:4em;}
#infoPrincipali dt{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom:0.5em;
}
#infoPrincipali dd{
    margin-bottom:1em;
    font-size: 1.1em;
}

#AcquistoNoleggio{
    width: 100%;
    text-align: center;
}

#AcquistoNoleggio::first-line{
    margin-bottom: 1em;
}

#AcquistoNoleggio input{
    margin-top: 1em;
    display: inline-block;
    min-width: 20%;
}

#AcquistoNoleggio form{
    text-align: center;
}

#AcquistoNoleggio form:first-child input{
    margin-top: 0em;
}

#scriviRecensione{
    display: block;
}
#titoloRecensioni,#trama{
   margin-bottom:0.7em;
}
#scriviRecensione{
    width: 90%;
    margin: auto;

}
#testoRecensione{ 
    display: block;
    width: 100%;
    height: 7em;
    resize: none;
}
#scriviRecensione label{
    display: block;   
    text-align: center;
} 
#scriviRecensione .btn{
    display: inline-block;
    position: relative;
    left: 90%;
    transform: translateX(-100%);
    width: 15em;
    margin-top: 1em;
    transition: ease-in-out 0s;
    
} 
#recensioni  li{
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
}
#recensioni progress{
    width: 50%;
    height: 1.5em;
}
/* ------------------------- cartella recensione ------------------------- */
#recensioni dl{margin: 1em 0;}
#recensioni ul{
    text-align: center;
    margin:2em 0;
}
#filtroRecensioni select,#filtroRecensioni input{
    display: inline-block;
    margin:0.8em 0.8em 0 0;
}
.recensioneUtente{
    border:1px solid var(--colore-voce-menu-hover);
    background-color: var(--colore-dettagli-card);
    border-radius: 5px;
    padding:1em;
    padding-bottom:0;
    margin-bottom:1em;
    position: relative;
}
.recensioneUtente dt{
    margin-bottom: 0.5em;
    overflow: hidden;
}
.immagineProfilo{
    width: 3em;
    height: 3em;
    float: left;
    border-radius: 100%;
}
.infoRecensione{
    display: inline-block;
    margin-left: 0.7em;  
}
.stelleData{
    display: block;
    margin-top: 0.4em;
}
.data{
    position: absolute;
    top: 0.5em;
    right:0.5em;
    
}

.testoRecensione{overflow: hidden;}
.testoRecensione .testo{margin-bottom: 0.8em;}
.valutaCommento{
    margin-top:1em;
    text-align: right  ;
}
.btnRecensione{
    margin-bottom: 1em;
    display: inline-block;
    margin-left:1em;
    min-width: 7em;
    background-color: crimson;
    color: white;
}

#mostraPassword, #mostraPasswordConferma {
	color: black;
	display: inline;
	width: fit-content;
	padding: 0.2em;
	font-size: 0.8em;
}

/* ------------------------- pagina registrazione ------------------------- */
.reg_log{
    width: 60%;
    margin: 2em auto;
    margin-bottom:5em;
}

.reg_log fieldset:first-child{
    border:2px solid black;
    border-radius: 20px;
}

.reg_log fieldset{min-width: 0;}
.reg_log fieldset:first-child{padding: 1.5em;}
.reg_log legend{
    text-align: center;
    font-size: 1.5em;
}
.reg_log input,.reg_log select{
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.reg_log select{
    margin-bottom: 0;
}
.reg_log input{
    margin-bottom: 1em
}

.reg_log label {
	font-weight: bold;
	font-size: 1.2em;
	display: inherit;
	margin-top: 0.5em;
}

#immagineProfilo{
    width: auto;
}

.reg_log fieldset:first-child,.reg_log input:not(input[type="submit"]){background-color: var(--colore-dettagli-card);}
.reg_log #datiAccount input[type="file"]{
    margin-bottom: 1em;
}
.reg_log #invia{ 
    margin-bottom: 1em;
}
.reg_log img{
    display: block;
    margin: 1em auto;
    width: 30%;
}
#datiAccount,#datiAnagrafici{
    border:0;
}
#datiAccount legend,#datiAnagrafici legend{
    width: 0;
    height: 0;
    visibility: hidden;
}
#sesso{
    height: 2em;
    background: transparent;
}
.soloBordoBottom,.soloBordoBottom:focus{
    border:none;
    border-bottom:1px solid black;
    outline: none;
    height: 1.8em;
}

/* ------------------------- pagina login ------------------------- */
#login span{
    display: inline-block;
    margin-top:1em;
    margin-right: 1em;
}

/* ------------------------- pagina amministratore ------------------------- */
#contenuto_amministratore{
    width: 100%;
    margin-top:0.6em;
    background-color: #fff;
    border: 2px solid var(--colore-bordo-header);
}
#loginAdmin{margin:5em auto;}
#loginAdmin #invia{
    width: 50%;
    margin: auto;
    margin-top: 1em;
}
/* ------------------------- pagina amministratore loggato ------------------------- */
.tbl{
    width: 95%;
    margin: auto;
}
.flexEsteso {
    flex: 1 0 0;
    text-align: left;
}
.tbl{
    border-collapse: collapse;
    border:1px solid black;
}
.tbl th,.tbl td{
    border:1px solid black;
    text-align: center;
    padding: 0.5em 1em;
}
table tbody tr:nth-child(2n+1){
    background-color: #ececec;
}
table thead{
    background-color: #b3b3b3;
}
summary{display: none;}
.segnalazione input[type="submit"]{
    text-align: center;
    border:none;
    border-bottom:1px solid black;
    background-color: transparent;
}

.segnalazione input[type="submit"]:hover{
    font-weight: bold;
}

/* form inserimento film amministratore */
#formFilm textarea{
    resize: none;
}

#formFilm div:not(div.genereFilm){
    margin:1em 0;
}

#formFilm .error_box{
    text-align: center;
}

#formFilm input[class="btn"]{
    margin: auto;
    width: 30%;
}
#formFilm fieldset{
    width: 60%;
    margin: auto;
}

#formFilm legend{
    margin: auto;
}

.titoloFilm{
    text-align: center;
}

.titoloFilm #titolo{
    width:30%;
}

.immagineFilm{
    text-align: center;
}

.altImmagineFilm{
    display: inline-block;
}

.tramaFilm {
    text-align: center;
}

.tramaFilm label{
    display: block;
}

.tramaFilm textarea{
    width: 50%;
}

.datiNumericiFilm{
    text-align: center;
}

div.genereFilm{
    display: inline-block;
    white-space: nowrap;
    height: 25%;
}
.genereFilm label{
    margin-left: 0.5em;
    display: inline-block;
}
#formFilm div.ordinamento{
    padding: 0 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20%;
}

div.genereFilm{
    display: inline-block;
    white-space: nowrap;
    height: 25%;
}
.genereFilm label{
    margin-left: 0.5em;
    display: inline-block;
}
#formFilm div.ordinamento{
    padding: 0 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20%;
    
    }

/* ------------------------- pagina regolamento ------------------------- */
dt{
    font-size: 1.1em;
    font-weight:bold;
}    
#regole dt{
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1.2em;
}

#regole ul{
    margin-top:1em;
    margin-left:2em;
}
#regole li{
    list-style-type:square;
    display: list-item;
    text-align: left;
}

/* ------------------------- pagina segnalazioni ------------------------- */
#profUtente{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top:2.5em;
}
#profUtente img{width: 13em;}
#infoUtente{
    display: flex;
    flex-flow: column wrap;
    margin-top: 1em;
    margin-left:1em;

}
#infoUtente span{
    display: inline-block;
    margin-bottom:1em;
}
/* ------------------------- media query ------------------------- */
/* proprietá generiche */
@media screen and (max-width: 75em) {
    #contenuto{
        width: 100%;
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    #ricerca{
        margin: auto;
        margin-bottom: 1em;
        order:1;
    }
    #cercaTitolo{max-width: none;}
    #logo{
        text-align: center;
        font-size: 2.9em;
        white-space: normal;
        order:2;
    }
    #account{
        flex-wrap: wrap;
        order: 3;
    }
    #account a{margin-top: 0.7em;}
    
    #account a:last-child{margin-top: 0.7em;}
    #menuHam{display: block;}
    #impaginazione{
        flex-direction:row;
        flex-wrap: wrap;
    }

    #menuPrincipale{
        position: absolute;
        width: 100%;
        bottom: -0.4em;
        left: 0;
        transform: translateY(100%);
    }
    .tbl{
        width: 50%;
    }
    .tbl tr,.tbl td{
        display: block;
    }
    .tbl th{
        display: block;
        background-color: yellow;
    }
    .tbl thead{
        display: none;
    }
    .tbl td[data-title]:before,.tbl th[data-title]:before{
        content: attr(data-title)": \00A0";
        font-weight: bold;
    }
    .tbl tfoot tr td:nth-child(2){
        display: none;
    }

    .card dt:not(.posizione){
        overflow:unset;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////  */
/* proprietá che riguardano solo la pagina home */
/* media per card smartphone */
@media screen and (max-width: 60em) {
    #formFilm div .ordinamento{display: unset;}
    div .genereFilm{display: block;}
    .titolo{
        height: unset;
        margin-bottom:1em;
    }
    .valutazionePrezzo{
        width: 100%;
        position: relative;
        bottom: 0;
        flex-direction: column;
        align-items: baseline;

    }

    .prezzo{
        margin-top: 0;
    }
    .card{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-right: 0;
        margin-left:0;
        background-color: inherit;
        border:none;
    }
    .copertina{height: unset;}

    .card dt:not(.posizione){
        flex: 1 0 0;
        overflow:unset;
        height: 100%;
    }

    div.card dl{
        height: 100%;
    }
    .dettagli{
        width: 60%;
        height: 100%;
        padding-right:1em;
        position: relative;
    }

    .genere{
        font-size: 1.1em;
    }
    .centrale{
        width: 30%;
        font-size: 0.8em;
    }

    .stella{
        width: 1em;
        height: 1em;
    }
    .posizione{
        font-size:1.3em;
        margin-right: 0.3em;
    }
    .nascosto{display: none;}
}
/* proprietá che riguardano solo la pagina film */
@media screen and (max-width: 35em) {
    #scriviRecensione .btn{
        display: block;
        position: static;
        left: unset;
        transform: unset;
        width: 15em;
        margin: auto;
        margin-top: 1em;
    }
    #infoPrincipali{
        margin-top:0;
        text-align: center;
    }
    #infoFilm{flex-direction: column;}

    .immagineProfilo{
        float: none;
        display: block;
        margin: auto;
    }
    .infoRecensione{
        display: block;
        text-align: center;
        margin:auto;
        margin-top: 0.5em;
    }
    .data{
        position: relative;
        top:unset;
        right: unset;
        display: block;
        margin-top: 0.3em;

    }
    .card{
        width: 100%;
        font-size: 1.2em;
    }

    .card dt:not(.posizione){
        overflow:unset;
    }
    .nascosto2{display: none;}
    .centrale{width: 40%;}
    #menuProposte li{display: block;margin-bottom: 1em;}
    .valutaCommento{text-align:center;}
}

@media print{
    /* ------------------------- variabili globali------------------------ */
    *{
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }

    html, body, header{
        background-color: white;
    }

    body{
        font-size: 12pt;
        float: none;
    }

    hr{
        display: none;
    }

    h1{
        margin: 0em 0em 0.6em 0em;
    }

    #breadcrumb, #ricerca, #account, #menuProposte, #menuPrincipale{
        display: none;
    }

    a{
        color: black;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }

    a:after{
        content: " (" attr(href) ") ";
        font-size: 90%;
    }

    #contenuto{
        width: 100%;
        background-color: white;
    }

    .centrale{
        display: none;
    }

    #AcquistoNoleggio{
        display: none
    }

    #recensioni{
        page-break-before: always;
    }

    #scriviRecensione{
        display: none;
    }

    #filtroRecensioni{
        display: none;
    }

    .btnRecensione{
        display: none;
    }

    #cambiaStato{
        display: none;
    }

    .listaCards{
        display: list-item;
    }
    
    .card{
        width: auto;
        border: none;
        display: inline;
    }

    .card dt:not(.posizione){
        height: auto;
    }

    .copertina{
        display: none;
    }

    .dettagli{
        height: auto;
        page-break-inside: avoid;
    }

    .titolo{
        height: auto;
    }
    
    .titolo input[type="submit"]{
        color:#000;
    }

    .genere{
        height: auto;
    }

    .valutazionePrezzo{
        height: auto;
    }

    .valutazione{
        display: none;
    }

    #classifiche .card{
        display: flex;
        flex-direction: row;
    }

    .posizione{
        color: #000;
    }
    
}