*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* ------------------------- variabili globali ------------------------- */
:root{
    --colore-bordo-btn:#ed3b3b;
    --colore-btn:#ed3b3b;
    --colore-bordo-btn-hover:#ba3838;
    --colore-btn-hover:#f75d5d;
    --colore-bordo-header:#e0e0e0;
    --colore-cerca-titolo:#f2f6ff;
    --colore-voce-menu-hover:#d8d8d8;
    --colore-bordo-card:#a1a1a1;
    --colore-bordo-card:#a1a1a1;
    --colore-dettagli-card:#f9f9f9;
    --colore-news:#ffffce;
    --colore-btn-azione-hover:#53a8e9;
    --colore-btn-azione:#489cdb;
}
/* ------------------------- stili generici ------------------------- */
html,body{
    max-width: 1200px;
    margin:auto;
    background-color: #eee;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 2.4em;
    text-align: center;
    margin:0.6em 0;
}
h2{
    font-size: 1.9em;
    text-align: center;
	  font-weight: bold;
    margin:0.5em 0;
}
h3{margin:0.9em 0}
hr{
    border:none;
    border-top: 1px solid var(--colore-bordo-header);
    margin:2em auto;
    width: 70%;
}
.btn{
    color: white;
    background-color: var(--colore-btn);
    border:2px solid var(--colore-bordo-btn);
    padding:0.7em 1.5em;
    display: block; 
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
}
.btn:hover{
    background-color: var(--colore-btn-hover);
    border: 2px solid var(--colore-bordo-btn-hover);
}
input[class="btn btnAzione"]{
    background-color: var(--colore-btn-azione);
    color: white;
    border:none;
}
input[class="btn btnAzione"]:hover{
    background-color: var(--colore-btn-azione-hover);
    color: white;
    border: none; 
}
.grassetto{
    font-weight: bold;
}
.centrale{
    margin: 1em auto;
    width: 20%;
}
.centrale{
    margin: 1em auto;
    width: 20%;
}
ul{
    text-align: center;
}
ul li{
    list-style-type: none;
    display: inline-block;
}
fieldset{text-align: center;}
.esitoPositivo{
    color: green;
}
/* intestazione */
header{
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    padding: 1em 2em;
    border: 2px solid var(--colore-bordo-header);
}
#logo{
    font-size: 3.7em;
    margin:0;
    white-space: nowrap;
}
#ricerca{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right:3em;
    margin-left:5em;
}
#input_ricerca{
    width: 100%;
    line-height: 2em;
    height: 1.7em;
    font-size: 1.3em;
    background-color: var(--colore-cerca-titolo) ;
    max-width: 21em;
}
#submit_ricerca{
    padding: 0 0.6em;
    height: 1.9em;
    font-size: 1.1em;
    background-color: var(--colore-btn-azione);
    color:white; 
}
#account{
    display: flex;
    align-items: center;
}
#account a{
    margin-right:1em;
    font-size: 1.3em;
}
#menuHam{display: none;}
#breadcrumb{
    width: 100%;
    font-size: 1.2em;
    padding:0.5em 2.2em;
    margin-top:0.4em;
    background-color: white;
    border: 2px solid var(--colore-bordo-header);
}

/* messaggi di errore */

.msg_box {
    padding: 0.5em;
    margin: 0.5em 0 1em; 
    font-size: 1em; 
}

.error_box{
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    color: #cc0033;
}

.success_box{
    background-color:#e9ffd9;
    border:1px solid #a6ca8a;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
}

/* ------------------------- menu ------------------------- */
#impaginazione{
    display: flex;
    margin-top: 0.6em;
    position: relative;
}
#menu-news{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 0.6em;
}

#menuPrincipale #attivo{
    background-color: yellow;
    color:red;
    padding: 1em 0;
}

#novita{
    background-color: var(--colore-news);
    padding:0 1em 1em 1em;
    font-size:1.2em;
    border: 2px solid var(--colore-bordo-header);
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 0.6em;
}
#novita h2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#menuPrincipale {
    font-weight: bold;
    color: red;
    background-color: yellow;
    padding: 1em 0;
    text-decoration: none;
}
#menuPrincipale{
    text-align: center;
    background-color: white;
    border: 2px solid var(--colore-bordo-header);
    font-size: 1.2em;
}
#menuPrincipale ul{margin:1em 0;}
#menuPrincipale li{display: block;}
#menuPrincipale li:hover{background-color: var(--colore-voce-menu-hover);}
#menuPrincipale a{
    display:block;
    padding: 1em 0;
}
/* ------------------------- contenuto ------------------------- */
#contenutoFull{
    width: 100%;
    background-color: white;
    border: 2px solid var(--colore-bordo-header); 
}
#imgEsito{
    width: 50%;
    display: block;
    border-radius: 100%;
    margin:auto;
}
#contenuto{
    width: 80%;
    background-color: white;
    padding:0.6em;
    border: 2px solid var(--colore-bordo-header);  
    position:relative;
}

/* ------------------------- cards categoria ------------------------- */
.tipoProposta{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}
.tipoProposta h2{
    margin: 0.5em 1em 0 1em;
}
.gruppoTipo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ------------------------- card ------------------------- */
.listaCards{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    margin-top: 1em;
}

.card{
    width: calc(20% - 0.6em);
    margin: 0.6em 0.3em 0 0.3em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: var(--colore-dettagli-card);
    font-size: 1.1em;
    border:1px solid var(--colore-bordo-card);
}

.card dt{height: 70%;
    margin-bottom: 0.2em;}

.copertina{height:100%;}

.copertina input[type="image"]{ 
    width: 100%;
    height: 100%; 
    transition: ease-in-out 0.3s;
}

.copertina input[type="image"]:hover{filter:brightness(75%);}

.dettagli{
    padding: 0.5em;
    padding-bottom: 0.2em;
    height: 30%;
}
.titolo{  
    overflow: hidden;
    height: 40%;
}

.titolo input[type="submit"]{
    text-align: left;
    white-space: nowrap;
    border:none;
    background-color: transparent;
    font-size: 1.2em;
}

.titolo input[type="submit"]:hover{
    color:red;
    cursor: pointer;
}

.genere{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    height: 30%;
}

.valutazionePrezzo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 30%;
}

.valutazione{flex: 1 0 0;}

.stella{
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    background-image: url(../img/img_componenti/stella.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.3em;
}

.vuota{
    background: url(../img/img_componenti/stella_vuota.png) no-repeat;
    background-size: cover;
}
/*----------------------------- pagina classifica -------------------------------*/
.posizione{
    font-size: 1.5em;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #ff0000;
}

#menuProposte{
    margin:1em 0;
    text-align: center;
}
#menuProposte li{margin:0 1em;}

/* ------------------------- pagina film ------------------------- */
#info{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
#immagineFilm{
    display: flex;
    flex-direction: row;
    margin:1em 2em 2em 2em;
    flex: 1 1 0;
}
#infoFilm{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#votoCopertina{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#mediaRecensioni{
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
    width: 100%;
}
#valutazione{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#valutazione .stella,#valutazione .vuota{
    height: 1.5em;
    width: 1.5em;
    margin:0 0.3em;
}
#infoPrincipali{margin-top:4em;}
#infoPrincipali dt{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom:0.5em;
}
#infoPrincipali dd{
    margin-bottom:1em;
    font-size: 1.1em;
}
#bottoni{width: 100%;}
#bottoni input{
    margin-top: 1em;
    display: inline-block;
    min-width: 30%;
}
#bottoni form{text-align: center;}
#bottoni form:first-child input{margin-top: 0em;}
#scriviRecensione{
    display: block;
}
#titoloRecensioni,#trama{
   margin-bottom:0.7em;
}
#scriviRecensione{
    width: 90%;
    margin: auto;

}
#testoRecensione{ 
    display: block;
    width: 100%;
    height: 7em;
    resize: none;
}
#scriviRecensione label{
    display: block;   
    text-align: center;
} 
#scriviRecensione .btn{
    display: inline-block;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    width: 15em;
    margin-top: 1em;
    transition: ease-in-out 0s;
    
} 
#recensioni  li{
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
}
#recensioni progress{
    width: 50%;
    height: 1.5em;
}
/* ------------------------- cartella recensione ------------------------- */
#recensioni dl{margin: 1em 0;}
#recensioni ul{
    text-align: center;
    margin:2em 0;
}
#filtroRecensioni select,#filtroRecensioni input{
    display: inline-block;
    margin:0.8em 0.8em 0 0;
}
.recensioneUtente{
    border:1px solid var(--colore-voce-menu-hover);
    background-color: var(--colore-dettagli-card);
    border-radius: 5px;
    padding:1em;
    padding-bottom:0;
    margin-bottom:1em;
    position: relative;
}
.recensioneUtente dt{
    margin-bottom: 0.5em;
    overflow: hidden;
}
.immagineProfilo{
    width: 3em;
    height: 3em;
    float: left;
    border-radius: 100%;
}
.infoRecensione{
    display: inline-block;
    margin-left: 0.7em;  
}
.stelleData{
    display: block;
    margin-top: 0.4em;
}
.data{
    position: absolute;
    top: 0.5em;
    right:0.5em;
    
}

.testoRecensione{overflow: hidden;}
.testoRecensione .testo{margin-bottom: 0.8em;}
.valutaCommento{
    margin-top:1em;
    text-align: right  ;
}
.btnRecensione{
    margin-bottom: 1em;
    display: inline-block;
    margin-left:1em;
    min-width: 7em;
    background-color: #fff;
    color: black;
}
/* ------------------------- pagina registrazione ------------------------- */
.reg_log{
    width: 60%;
    margin: 2em auto;
    margin-bottom:5em;
}
.reg_log fieldset:first-child{
    border:2px solid black;
    border-radius: 20px;
}
.reg_log fieldset{min-width: 0;}
.reg_log fieldset:first-child{padding: 1.5em;}
.reg_log legend{
    text-align: center;
    font-size: 1.5em;
}
.reg_log input,.reg_log select{
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 2em;
}
.reg_log select{
    margin-bottom: 0;
}
.reg_log input{
    margin-bottom: 1.5em
}
.reg_log label{
    font-weight: bold;
    font-size: 1.2em;
}
.reg_log fieldset:first-child,.reg_log input:not(input[type="submit"]){background-color: var(--colore-dettagli-card);}
.reg_log #datiAccount input[type="file"]{
    margin-bottom: 1em;
}
.reg_log #invia{ 
    margin-bottom: 0;
}
.reg_log img{
    display: block;
    margin: 1em auto;
    width: 30%;
}
#datiAccount,#datiAnagrafici{
    border:0;
}
#datiAccount legend,#datiAnagrafici legend{
    width: 0;
    height: 0;
    visibility: hidden;
}
#sesso{
    height: 2em;
    background: transparent;
}
.soloBordoBottom,.soloBordoBottom:focus{
    border:none;
    border-bottom:1px solid black;
    outline: none;
    height: 1.8em;
}

/* ------------------------- pagina login ------------------------- */
#login span{
    display: inline-block;
    margin-top:1em;
    margin-right: 1em;
}

/* ------------------------- pagina amministratore ------------------------- */
#contenuto_amministratore{
    width: 100%;
    margin-top:0.6em;
    background-color: #fff;
    border: 2px solid var(--colore-bordo-header);
}
#loginAdmin{margin:5em auto;}
#loginAdmin #invia{
    width: 50%;
    margin: auto;
    margin-top: 1em;
}
/* ------------------------- pagina amministratore loggato ------------------------- */
.tbl{
    width: 95%;
    margin: auto;
}
.flexEsteso {
    flex: 1 0 0;
    text-align: left;
}
.tbl{
    border-collapse: collapse;
    border:1px solid black;
}
.tbl th,.tbl td{
    border:1px solid black;
    text-align: center;
    padding: 0.5em 1em;
}
table tbody tr:nth-child(2n+1){
    background-color: #ececec;
}
table thead{
    background-color: #b3b3b3;
}
summary{display: none;}
.segnalazione input[type="submit"]{
    text-align: center;
    border:none;
    border-bottom:1px solid black;
    background-color: transparent;
}
.segnalazione input[type="submit"]:hover{
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
}

/* form inserimento film amministratore */
#formFilm textarea{
    resize: none;
}

#formFilm div:not(div.genereFilm){
    margin:1em 0;
}
#formFilm input[class="btn"]{
    margin: auto;
    width: 30%;
}
#formFilm fieldset{
    width: 60%;
    margin: auto;
}
.titoloFilm{
    text-align: center;
}

.titoloFilm #titolo{
    width:30%;
}

.immagineFilm{
    text-align: center;
}

.altImmagineFilm{
    display: inline-block;
}

.tramaFilm {
    text-align: center;
}

.tramaFilm label{
    display: block;
}

.tramaFilm textarea{
    width: 50%;
}

.datiNumericiFilm{
    text-align: center;
}

.dataFilm{

}
.durataFilm{

}
.prezzoFilm{

}

div.genereFilm{
    display: inline-block;
    white-space: nowrap;
    height: 25%;
}
.genereFilm label{
    margin-left: 0.5em;
    display: inline-block;
}
#formFilm div.ordinamento{
    padding: 0 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20%;

}


/* ------------------------- pagina regolamento ------------------------- */    
#regole dt{
    font-size: 1.1em;
    font-weight: bold;
    margin: 1em 0;
}
#regole ul{
    margin-top:1.2em;
    margin-left:2em;
}
#regole li{margin:0.5em 0;}

/* ------------------------- pagina segnalazioni ------------------------- */
#profUtente{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top:2.5em;
}
#profUtente img{width: 13em;}
#infoUtente{
    display: flex;
    flex-flow: column wrap;
    margin-top: 1em;
    margin-left:1em;

}
#infoUtente span{
    display: inline-block;
    margin-bottom:1em;
}
/* ------------------------- media query ------------------------- */
/* proprietá generiche */
@media screen and (max-width: 75em) {

    #contenuto{
        width: 100%;
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    #ricerca{
        margin: auto;
        margin-bottom: 1em;
        order:1;
    }
    #cercaTitolo{max-width: none;}
    #logo{
        text-align: center;
        font-size: 2.9em;
        white-space: normal;
        order:2;
    }
    #account{
        flex-wrap: wrap;
        order: 3;
    }
    #account a{margin-top: 0.7em;}
    
    #account a:last-child{margin-top: 0.7em;}
    #menuHam{display: block;}
    #impaginazione{
        flex-direction:row;
        flex-wrap: wrap;
    }
    #menu-news{
        margin-right: 0;
        width: 100%;
    }

    #novita{
        margin-top: 0;
        border: 1px solid var(--colore-bordo-header);
    }
    #menuPrincipale{
        position: absolute;
        width: 100%;
        bottom: -0.4em;
        left: 0;
        transform: translateY(100%);
    }
    .tbl{
        width: 50%;
    }
    .tbl tr,.tbl td{
        display: block;
    }
    .tbl th{
        display: block;
        background-color: yellow;
    }
    .tbl thead{
        display: none;
    }
    .tbl td[data-title]:before,.tbl th[data-title]:before{
        content: attr(data-title)": \00A0";
        font-weight: bold;
    }
    .tbl tfoot tr td:nth-child(2){
        display: none;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////  */
/* proprietá che riguardano solo la pagina home */
/* media per card smartphone */
@media screen and (max-width: 60em) {

    #formFilm div .ordinamento{display: unset;}
    div .genereFilm{display: block;}
    .titolo{
        height: unset;
        margin-bottom:1em;
    }
    .dettagli{
        position: relative;
    }
    .valutazionePrezzo{
        width: 100%;
        position: absolute;
        bottom: 0;
        align-items: flex-start;

    }
    .prezzo{
        margin-top: 0;
    }

    .card{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-right: 0;
        margin-left:0;
        background-color: #fff;
        border:none;
    }

    .copertina{height: unset;}

    .card dt{flex: 1 0 0;}

    div.card dl{
        height: 100%;
    }

    .dettagli{
        width: 60%;
        height: 100%;
        padding-right:1em;
    }
    .genere{
        font-size: 1.1em;
        margin-bottom:0.5em;
    }
    .centrale{
        width: 30%;
        font-size: 0.8em;
    }
    .stella{
        width: 1em;
        height: 1em;
    }
    .card .posizione{
        font-size:1.3em;
        margin-right: 0.3em;
    }
    .nascosto{display: none;}
}
/* proprietá che riguardano solo la pagina film */
@media screen and (max-width: 35em) {

    #scriviRecensione .btn{
        display: block;
        position: static;
        left: unset;
        transform: unset;
        width: 15em;
        margin: auto;
        margin-top: 1em;
    }
    #infoPrincipali{
        margin-top:0;
        text-align: center;
    }
    #infoFilm{flex-direction: column;}
    .immagineProfilo{
        float: none;
        display: block;
        margin: auto;
    }
    .infoRecensione{
        display: block;
        text-align: center;
        margin:auto;
        margin-top: 0.5em;
    }
    .data{
        position: relative;
        top:unset;
        right: unset;
        display: block;
        margin-top: 0.3em;

    }
    .card{
        width: 100%;
        font-size: 1.2em;
    }
    .nascosto2{display: none;}
    .centrale{width: 40%;}
    #menuProposte li{display: block;margin-bottom: 1em;}
    .valutaCommento{text-align:center;}
}